@tailwind base;
@tailwind components;
@tailwind utilities;
 
@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;
 
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
 
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;
 
    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;
 
    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
 
    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;
 
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;
 
    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;
 
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;
 
    --ring: 215 20.2% 65.1%;
 
    --radius: 0.5rem;
  }
 
  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;
 
    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;
 
    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;
 
    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;
 
    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
 
    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;
 
    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;
 
    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;
 
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 85.7% 97.3%;
 
    --ring: 217.2 32.6% 17.5%;
  }
}
 
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }

  .pageMainDiv {
    @apply w-full px-2 md:px-0 mx-auto text-lg pt-12 text-[#fdeed4];
  }

  .subTitle {
    @apply dark:text-[#00FF00] text-white text-2xl md:text-3xl pt-4 pb-1 font-mono font-semibold text-center;
  }

  .webNavButton {
    @apply font-mono hover:bg-[#ffffff4d] p-2 px-4 rounded-lg ease-in-out duration-500 flex items-center gap-2;
  }

  .mobileNavButton {
    @apply font-mono bg-white p-2 px-4 rounded-lg flex items-center gap-2;
  }

  .iconStyle {
    @apply text-[#fdeed4] hover:text-[#57375D] dark:hover:text-[#ff69b0] ease-in-out duration-500;
  }

  .tool {
    @apply flex flex-col gap-2;
  }

  .toolTitle {
    @apply text-lg font-semibold mb-2 text-white dark:text-[#00FF00];
  }

  .toolItem {
    @apply flex gap-2 items-center;
  }

  .normalButton {
    @apply py-2 px-6 bg-slate-900 rounded-lg hover:opacity-80 text-white text-sm font-semibold transition-all duration-200 dark:bg-slate-100 dark:text-black flex items-center gap-1;
  }

  .codeButton {
      @apply p-2 bg-red-500 rounded-lg hover:opacity-80 text-white text-sm font-semibold transition-all duration-200 dark:bg-red-800 flex items-center gap-1;
  }

  .adminButton {
    @apply p-2 bg-slate-800 rounded-lg hover:opacity-80 text-white text-sm font-semibold transition-all duration-200 flex items-center gap-2;
  }

  .actionButton {
    @apply p-2 px-4 bg-pink-600 rounded-lg hover:opacity-80 text-white text-sm font-semibold transition-all duration-200 flex items-center gap-2;
  }

  .input{
    @apply w-full px-4 py-2 border bg-gray-700 text-white placeholder-gray-400 border-gray-600 rounded-md focus:outline-none focus:ring focus:border-blue-300;
  }

  .adminCreatePage{
    @apply min-h-screen bg-gradient-to-r from-[#ff69b0] to-[#ffb5a8] flex items-center justify-center pb-4;
  }
}